<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Estiam</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    .footer-clean {
        padding:50px 0;
        background-color:#fff;
        color:#4b4c4d;
    }

    .footer-clean h3 {
        margin-top:0;
        margin-bottom:12px;
        font-weight:bold;
        font-size:16px;
    }

    .footer-clean ul {
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:14px;
        margin-bottom:0;
    }

    .footer-clean ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.8;
    }

    .footer-clean ul a:hover {
        opacity:1;
    }

    .footer-clean .item.social {
        text-align:right;
    }

    @media (max-width:767px) {
        .footer-clean .item {
            text-align:center;
            padding-bottom:20px;
        }
    }

    @media (max-width: 768px) {
        .footer-clean .item.social {
            text-align:center;
        }
    }

    .footer-clean .item.social > a {
        font-size:24px;
        width:40px;
        height:40px;
        line-height:40px;
        display:inline-block;
        text-align:center;
        border-radius:50%;
        border:1px solid #ccc;
        margin-left:10px;
        margin-top:22px;
        color:inherit;
        opacity:0.75;
    }

    .footer-clean .item.social > a:hover {
        opacity:0.9;
    }

    @media (max-width:991px) {
        .footer-clean .item.social > a {
            margin-top:40px;
        }
    }

    @media (max-width:767px) {
        .footer-clean .item.social > a {
            margin-top:10px;
        }
    }

    .footer-clean .copyright {
        margin-top:14px;
        margin-bottom:0;
        font-size:13px;
        opacity:0.6;
    }
    .page-holder {
        min-height: 100vh;
    }

    .bg-cover {
        background-size: cover !important;
    }
  </style>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Estiam student application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">Books</a>
              </li>
          </ul>
        </div>
      </nav>